* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overscroll-behavior: none;
  position: relative;
  background-color: #b4a7a9;
  font-family: 'Raleway', sans-serif;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem;
}

.logo {
  font-family: 'Grandiflora One', serif;
  font-size: 3rem;
  color: #ffffff;
}

header {
  width: 100vw;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

header > img {
  object-fit: contain;
  width: 100vw;
  max-width: 2560px;
}

.headline {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
}

.header-text {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  max-width: calc(70%);
  background-color: #ded5f3;
  padding: 0.5rem;
  border-radius: 15px;
}

.header-text > .text {
  opacity: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  width: 100%;
  margin: 0 auto;
}

.rooms-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 1rem;
}

.room-card {
  height: 400px;
  border-radius: 15px;
  background-color: #8187c7;
  overflow: hidden;
}

.room-image > img {
  overflow: hidden;
  object-fit: contain;
  height: 100%;
}

.booking {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.booking-info {
}
*/ .calendar-dates-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.date-picker-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.date-picker-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #8187c7;
  padding: 10px;
  gap: 1rem;
}

.room-info {
  display: flex;
  flex-direction: column;
}

.features-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 10px 10px 5px 10px;
  align-items: end;
  font-size: 0.9rem;
  color: black;
  position: relative;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 5;
  align-items: center;
  padding: 0 0 0 15px;
}

.feature-name-wrapper {
  background: whitesmoke;
  opacity: 70%;
  border-radius: 5px;
  padding: 0 5px;
}

.feature-price-bubble {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #8187c7;
  position: absolute;
  top: -20;
  right: -5;
  align-items: center;
  justify-content: center;
}

button {
  width: 120px;
}

.booking-payment-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #8187c7;
  border-radius: 15px;
  /* padding: 2rem 2rem 3rem 2rem; */
  gap: 1rem;
}

.booking-heading-wrapper {
  width: 100%;
  text-align: center;
  font-family: 'Grandiflora One', cursive;
  font-size: 2rem;
}

.booking-carousel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.availability {
  display: flex;
  flex-direction: column;
}

/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.panel.active {
  max-height: 1000px;
}

.accordion,
.panel {
  width: 500px;
} */

footer {
  height: 500px;
  width: 100vw;
  background-color: #8187c7;
}
