* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overscroll-behavior: none;
  position: relative;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
  width: 100vw;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: absolute;
  top: 0;
}

header {
  width: 100vw;
  height: 600px;
}

header > img {
  object-fit: contain;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.availability {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.panel.active {
  max-height: 1000px;
}

.accordion,
.panel {
  width: 500px;
}
