* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overscroll-behavior: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  visibility: hidden;
  display: none;
}
