.calendar {
  height: 300px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

tr {
  text-align: center;
}

.cal-day-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.calendar-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
}

.booked {
  background-color: var(--bg-grey);
}

.available {
  background-color: var(--standard-pink);
}

.booked > .cal-day-box {
  background-image: url('/assets/images/icons/unavailable-strike.svg');
  content-visibility: hidden;
}

.booked {
  background-color: unset;
}

/* .available > .cal-day-box {
  background-image: url('/assets/images/icons/available-paw.svg');
} */

.calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
