.calendar {
  height: 300px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-title {
  background-color: var(--luxury-purple);
}

tbody {
  background-color: var(--bg-grey);
}

.cal-week-2,
.cal-week-4 {
  background-color: rgb(236, 118, 75);
}

tr {
  text-align: center;
}

.booked {
  background-color: var(--bg-grey);
}

.available {
  background-color: var(--standard-pink);
}

/* td {
  background-image: url('/assets/Frame 5.png');
} */

.calendar-wrapper {
  display: flex;
}
