.mySlides {
  display: none;
}

.mySlides > img {
  vertical-align: middle;
  object-fit: cover;
}

.room-carousel {
  max-width: 400px;
  height: 400px;
  position: relative;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
}

.fade > img {
  transition: 3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
