.discounts,
.discount-specs {
  background-color: var(--luxury-purple);
  color: var(--luxury-blue);
}

.calendar-info-wrapper {
  color: var(--luxury-purple);
  background-color: var(--luxury-blue);
}

.calendar-wrapper {
  background-color: var(--luxury-purple);
}

.available {
  background-color: var(--luxury-blue);
}

.discount-headline,
.calendar-title {
  color: var(--luxury-blue);
}

.date-picker-wrapper {
  background-color: var(--luxury-purple);
  font-family: 'Bebas Neue', sans-serif;
  color: var(--luxury-blue);
}

.feature-price-bubble {
  background-color: var(--luxury-blue);
  color: var(--luxury-purple);
}

.quote {
  background-color: var(--luxury-purple);
}

.booking-carousel-wrapper {
  background-color: var(--luxury-purple);
}

.booking-heading-wrapper {
  color: var(--luxury-blue);
}

.button {
  background-color: var(--luxury-blue);
}
